<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>LibraryManagementEror</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BookServlet</display-name>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>com.Myser.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibrarianMasterController</display-name>
    <servlet-name>LibrarianMasterController</servlet-name>
    <servlet-class>com.LibrarianMaster.LibrarianMasterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianMasterController</servlet-name>
    <url-pattern>/LibrarianMasterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestController</display-name>
    <servlet-name>RequestController</servlet-name>
    <servlet-class>com.RequestMaster.RequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestController</servlet-name>
    <url-pattern>/RequestController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookFetchController</display-name>
    <servlet-name>BookFetchController</servlet-name>
    <servlet-class>com.RequestMaster.BookFetchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookFetchController</servlet-name>
    <url-pattern>/BookFetchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestMangeByLibrarianController</display-name>
    <servlet-name>RequestMangeByLibrarianController</servlet-name>
    <servlet-class>com.RequestMaster.RequestMangeByLibrarianController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestMangeByLibrarianController</servlet-name>
    <url-pattern>/RequestMangeByLibrarianController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentMasterPageController</display-name>
    <servlet-name>StudentMasterPageController</servlet-name>
    <servlet-class>com.StudentMaster.StudentMasterPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentMasterPageController</servlet-name>
    <url-pattern>/StudentMasterPageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookMasterPageController</display-name>
    <servlet-name>BookMasterPageController</servlet-name>
    <servlet-class>com.BookMaster.BookMasterPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookMasterPageController</servlet-name>
    <url-pattern>/BookMasterPageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibrarianMasterPageCOntroller</display-name>
    <servlet-name>LibrarianMasterPageCOntroller</servlet-name>
    <servlet-class>com.LibrarianMaster.LibrarianMasterPageCOntroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianMasterPageCOntroller</servlet-name>
    <url-pattern>/LibrarianMasterPageCOntroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibrariansMasterPageController</display-name>
    <servlet-name>LibrariansMasterPageController</servlet-name>
    <servlet-class>LibrariansMasterPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrariansMasterPageController</servlet-name>
    <url-pattern>/LibrariansMasterPageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>librariansMasterPageController</display-name>
    <servlet-name>librariansMasterPageController</servlet-name>
    <servlet-class>com.LibrarianMaster.librariansMasterPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>librariansMasterPageController</servlet-name>
    <url-pattern>/librariansMasterPageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibMasterPageController</display-name>
    <servlet-name>LibMasterPageController</servlet-name>
    <servlet-class>com.StudentMaster.LibMasterPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibMasterPageController</servlet-name>
    <url-pattern>/LibMasterPageController</url-pattern>
  </servlet-mapping>
</web-app>